<ul class="media-list">
  <% tweetposts.each do |tweetpost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(tweetpost.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to tweetpost.user.name, user_path(tweetpost.user) %> <span class="text-muted">posted at <%= tweetpost.created_at %></span>
        </div>
        <div>
          <p><%= tweetpost.content %></p>
        </div>
        <% if current_user == tweetpost.user %>
            <%= link_to "Delete", tweetpost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            <!--<%= link_to "Edit", tweetpost, method: :edit, data: { confirm: "You edit?" }, class: 'btn btn-info btn-xs' %>-->
        <% end %>
        <%= render 'likerelationships/like_button', tweetpost: tweetpost %>
      </div>
    </li>
  <% end %>
  <%= paginate tweetposts %>
</ul>